<div class="required">
	<%= form.label :username, "Username" %>
	<%= form.text_field :username, :size => 15 %>
</div>

<div class="required">
	<%= form.label :password, "Password" %>
	<%= form.password_field :password, :size => 15 %>
</div>